@model IList<ProductDemoApp.Models.Product>
@{
    ViewBag.Title = "Product List";
}
<h1>Product List</h1>
<hr />
<table id="products" class="display" style="width:100%">
    <thead>
        <tr>
            <th id="colName">Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Is GST Applicable</th>
            <th>Purchase Date</th>
            <th>Expiry Date</th>
            <th>Color</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td class="text-right">@Html.DisplayFor(modelItem => item.Price)</td>
                <td class="text-center">@Html.DisplayFor(modelItem => item.Quantity)</td>
                <td class="text-right">
                    @if (item.IsGSTApplicable)
                    {
                        <div>YES</div>
                    }
                    else
                    {
                        <div>NO</div>
                    }
                </td>
                <td class="text-right">@Html.DisplayFor(modelItem => item.PurchaseDate)</td>
                <td class="text-right">@Html.DisplayFor(modelItem => item.ExpiryDate)</td>
                <td class="text-center">@Html.DisplayFor(modelItem => item.Color)</td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to Add Products</a>
</div>
@section scripts{
    @* CDN CSS & JS libraries added for Datatables *@
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js"></script>

    <script>
        $(document).ready(function () {

            var table = $('#products').DataTable({
                columnDefs: [
                    { orderable: false, targets: [1, 2, 3, 6] } //Disable soring for Price,Quantity, GST Applicable & Color
                ],
                sDom: 'ltipr' // added for hiding default searchbox
            });

            $('#products thead th').each(function () {
                var title = $(this).text();

                if (title == 'Product Name') {
                    //Adding searchbox for ProductName
                    $(this).append('<br /><input id="searchName" type="text" placeholder="Search by Name ' + title + '" />');
                }
            });

            //Binding event to search data by Name
            $('#searchName').on('keyup change', function () {
                table
                    .column()
                    .search(this.value)
                    .draw();
            });
        });
    </script>
}